<a href="https://colab.research.google.com/github/leehow-data/Lee_DTSC3020_Fall2025/blob/main/assignment2_cgh0117.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
fruits = ["strawberry", "grape", "pear"]
print(fruits)
for fruit in fruits:
  print(fruit)

['strawberry', 'grape', 'pear']
strawberry
grape
pear

In [2]:
names = ["Scott", "Sawyer", "Anna", "Cassie"]
names[0] = "Alex"
for name in names:
  print(name)

Alex
Sawyer
Anna
Cassie

In [3]:
vehicles = ["moped", "scooter", "bike", "car", "boat"]
vehicles.append("plane")
for vehicle in vehicles:
  print(vehicle)

moped
scooter
bike
car
boat
plane

In [9]:
foods = ["chicken", "rice", "peas", "cake", "bread", "cheese"]
foods.remove("cake")
for food in foods:
  print(food)

chicken
rice
peas
bread
cheese

In [14]:
cities = ["Dallas", "Denton", "Fort Worth", "Frisco"]
cities.sort()
for city in cities:
  print(city)
cities.reverse()
for city in cities:
  print(city)

Dallas
Denton
Fort Worth
Frisco
Frisco
Fort Worth
Denton
Dallas

In [15]:
animals = ["pig", "horse", "cow"]
for animal in animals:
  print(animal)

pig
horse
cow

In [16]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
  print(number * 2)

2
4
6
8
10

In [19]:
friends = ["Scott", "Ashley", "Caitlyn", "Holly", "Archer", "Gabe"]
for friend in friends[:3]:
  print(friend)

for friend in friends[3:]:
  print(friend)

Scott
Ashley
Caitlyn
Holly
Archer
Gabe

In [22]:
for number in range(1, 11):
  print(number)

1
2
3
4
5
6
7
8
9
10

In [23]:
squares = [value **2 for value in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]