<a href="https://colab.research.google.com/github/leehow-data/Lee_DTSC3020_Fall2025/blob/main/Demo_in_class_week_6__Ch_(6)_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Dictionaries in Python

---

### What is a Dictionary?

A dictionary is a built-in Python data type that stores data in key–value pairs.

---

### Why Do We Use Dictionaries?

Dictionaries help us:
- Represent table-like data in a structured way.
- Access specific information quickly using keys.
- Store related data together in a meaningful format.

---

###  Rule: Keys Must Be Unique

- The key must be unique (e.g., string, number).
- The value can be:
  - a single value (e.g., number, string)
  - a list of values
  - another dictionary (nested structure)

###  Example 1: Table with Single Values (Names and Grades)

| Student | Grade |
|---------|-------|
| Anna    | 90    |
| John    | 85    |
| Sara    | 95    |

In [7]:
student_grades = { "Anna": 90, "John": 85, "Sara": 95}
student_grades

{'Anna': 90, 'John': 85, 'Sara': 95}

### Example 2: Table with List as Value (Students and Their Courses)

| Student | Courses              |
|---------|----------------------|
| Anna    | [“Math”, “Biology”]  |
| John    | [“English”, “History”] |
| Sara    | [“Physics”, “Chemistry”] |

In [8]:
student_courses = {
    "Anna": ["Math", "Biology"],
    "John": ["English", "History"],
    "Sara": ["Physics", "Chemistry"]
}
student_courses

{'Anna': ['Math', 'Biology'],
 'John': ['English', 'History'],
 'Sara': ['Physics', 'Chemistry']}

### Example 3: Table with Dictionary as Value (Books Info)

| Book    | Info                           |
|---------|--------------------------------|
| Book A  | {“pages”: 200, “available”: True}  |
| Book B  | {“pages”: 150, “available”: False} |
| Book C  | {“pages”: 300, “available”: True}  |

In [9]:
books_info = {
    "Book A": {"pages": 200, "available": True},
    "Book B": {"pages": 150, "available": False},
    "Book C": {"pages": 300, "available": True}
}
books_info

{'Book A': {'pages': 200, 'available': True},
 'Book B': {'pages': 150, 'available': False},
 'Book C': {'pages': 300, 'available': True}}

In [10]:
student_grades = {
    "Anna": 90,
    "John": 85,
    "Sara": 95
}

Accessing Data in Dictionaries

In [11]:
# Direct Access with [ ]
# dictionary_name["key"]

student_grades = {
    "Anna": 90,
    "John": 85,
    "Sara": 95
}

print(student_grades["Anna"])

90

In [31]:
# Safe access with .get(" ")


student_grades = {
    "Anna": 90,
    "John": 85,
    "Sara": 95
}
print(student_grades.get("Mike", 'student does not exist'))  # Returns None

student does not exist

In [13]:
# Check if a key exists using in
# in
student_grades = {
    "Anna": 90,
    "John": 85,
    "Sara": 95
}

print("Sara" in student_grades)
print("Mike" in student_grades)

True
False

 Methods

In [14]:
# .keys() Returns a list-like view of all the keys in the dictionary.


student_grades = {
    "Anna": 90,
    "John": 85,
    "Sara": 95
}

print(student_grades.keys())

dict_keys(['Anna', 'John', 'Sara'])

In [15]:
# .values() Returns a list-like view of all the values in the dictionary.

student_grades = {
    "Anna": 90,
    "John": 85,
    "Sara": 95
}

print(student_grades.values())

dict_values([90, 85, 95])

In [16]:
# .items() Returns all (key, value) pairs in the dictionary as tuples.

student_grades = {
    "Anna": 90,
    "John": 85,
    "Sara": 95
}

print(student_grades.items())

dict_items([('Anna', 90), ('John', 85), ('Sara', 95)])

 Add / Update

In [17]:
# Updating a value using brackets with the key

student_grades = {
    "Anna": 90,
    "John": 85,
    "Sara": 95
}

student_grades["Sara"] = 97
student_grades["Mike"] = 88

print(student_grades)

{'Anna': 90, 'John': 85, 'Sara': 97, 'Mike': 88}

In [18]:
#  We can remove item using del

student_grades = {
    "Anna": 90,
    "John": 85,
    "Sara": 95
}

del student_grades["Sara"]
print(student_grades)

{'Anna': 90, 'John': 85}

#  Part 2 – Practice Exercises

---

### ✅ Exercise 1: High Grades (using key-value)
Write a Python program that defines a dictionary of students and their grades. Print the names and grades of only those students who scored more than 18.

In [33]:
grades = {
    'Ali': 19,
    'Sara': 17,
    'Reza': 20,
    'Lina': 15,
    'Omid': 18.5
}

##print(grades.items())

for key, value in grades.items():
    if value > 18:
        print(key, value)

Ali 19
Reza 20
Omid 18.5

---

### ✅ Exercise 2: Registered for Python Course (using key-value)
You are given a dictionary where each key is a student and the value is a list of courses they registered for. Print the names of students who registered for ‘Python’.

In [34]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History']
}

for key, value in courses.items():
    if 'Python' in value:
        print(key)

Ali
Reza

---

### ✅ Exercise 3: Filter Library Books (using key-value)
You are given a dictionary of books. Each book has a sub-dictionary with the number of pages and a (true or false) indicating if it is available. Print the titles of books that are available and have more than 150 pages.

In [21]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': True},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}



for key, value in library.items():
    if value['available'] and value['pages'] > 150:
        print(key)

Python101
Statistics

---

### ✅ Exercise 4: Highest Grade (using key-value)
Given a dictionary of student grades, write a Python program that finds and prints the name of the student with the highest grade.

In [22]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20
}

highest = max(grades.values())

for key, value in grades.items():
    if value == highest:
        print(key)

Lina

### ✅ Exercise 5 : using set()


You are given a dictionary of students and their grades.
Some students may have the same grade.

we want to write a program that prints only the unique grades using set().

In [23]:
grades = {
    'Ali': 18,
    'Sara': 17,
    'Reza': 18,
    'Lina': 19,
    'Omid': 17
}

print( grades.values())

dict_values([18, 17, 18, 19, 17])

In [37]:
grades = {
    'Ali': 18,
    'Sara': 17,
    'Reza': 18,
    'Lina': 19,
    'Omid': 17
}

unique_grades = set(grades.values())

print("Unique grades:", unique_grades)
##print(f"Unique grades: {set(grades.values())}")

Unique grades: {17, 18, 19}

### ✅ Exercise 6
You are given a dictionary that shows how many hours each student studied during the week.

Write a program that calculates the total number of hours studied by all students combined.

In [25]:
study_hours = {
    'Ali': 5,
    'Sara': 8,
    'Reza': 4,
    'Lina': 7,
    'Omid': 6
}
# way 1 using

total = 0
for key, value in study_hours.items():
    total += value #(total= total + value )

    # first round => total = 0 + 5 =5
    # second round => total = 5 + 8 = 13
    # third round => total = 13 + 4 =17
    # fourth round => total = 17 + 7 = 24
    # fifth round => total = 24 + 6 = 30

print(total)

30

In [26]:
# way 2 using sum() and .valus()
total = sum(study_hours.values())
print(total)

30

In [27]:
# way 3 using list comprehension
total = sum([value for value in study_hours.values()])
print(total)

30

if we want to Write a program that calculates the total number of study hours for students who studied more than 2 hours.

In [28]:
study_hours = {
    'Ali': 1,
    'Sara': 3,
    'Reza': 0,
    'Lina': 4,
    'Omid': 2
}

total = sum([value for value in study_hours.values() if value > 2])
print("Total study hours for students who studied more than 2 hours:", total)

Total study hours for students who studied more than 2 hours: 7

---

### ✅ Final Class Exercise: Library Borrowing (using key-value)
You are given a dictionary that shows how many books each student has borrowed. Write a Python program to:
1.  Print the names of students who borrowed more than 2 books.
2. alculate the total number of borrowed books.

In [29]:
borrowed_books = {
    'Ali': 1,
    'Sara': 3,
    'Reza': 0,
    'Lina': 4,
    'Omid': 2
}
num_books = 0
for name, number in borrowed_books.items():
    if number > 2:
        print(f"{name} has borrowed quite a few, {number} to be exact!")
    num_books += number
print(f"There have been {num_books} books borrowed total.")

Sara has borrowed quite a few, 3 to be exact!
Lina has borrowed quite a few, 4 to be exact!
There have been 10 books borrowed total.

---

##  Assignment Submission Instructions
Assignment Instructions
 1. Download the Student_In_Class -Assignment_Ch 6  notebook file from Canvas
 2. Write your answers for Part 1 and Part 2 directly in the notebook.
 3. Save the completed notebook file.
 4. Upload the notebook to your GitHub account.
 5. Submit the GitHub link.

 This exercise is worth 1 point.